body,
html {
    font-family: arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 1.5em;
    color: #fff;
    background: #666;
}


ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
}

li {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 192px;
    min-height: 192px;
    margin: 10px 20px 10px;
    padding: 10px;
    list-style: none;
    color: black;
    background-color: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
     transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
    transition: transform .15s linear, -webkit-transform .15s linear;
}

li:nth-child(3n) {
    background-color: #cfc;
}

li:nth-child(3n+1) {
    background-color: #ccf;
}

li:nth-child(3n+2) {
    background-color: #ffc;
}

li:nth-child(2n) {
    top: 5px;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
}

li:hover {
    z-index: 5;
   
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    box-shadow: 10px 10px 10px rgba(33, 33, 33, .7);
}

/* 便签的标题 */


li h4 {
    font-size: 16px;
    margin: 10px auto;
}

/* 便签的记录时间 */


li time {
    font-size: 8px;
    display: block;
    color: #2d2d2d;
}

/* 便签内容 */


li span {
    font-size: 12px;
    line-height: 1.2em;
    display: block;
    text-indent: 2em;
}

.setting {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    cursor: pointer;
}

img {
    width: 20px;
    height: 20px;
}

img:hover {
    transition: -webkit-transform .15s ease-in;
    transition: transform .15s ease-in;
    transition: transform .15s ease-in, -webkit-transform .15s ease-in;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    /* scale: 1.25; */
}
